<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="Home" providerName="System.Data.ProviderName" connectionString="Data Source=DESKTOP-D40UEJC\LOCALDB;Initial Catalog=SQL_DB;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="Work" providerName="System.Data.ProviderName" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SQL_DB;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
</configuration>